body * {
  box-sizing: border-box;
  flex-shrink: 0;
}
body {
  font-family: PingFangSC-Regular, Roboto, Helvetica Neue, Helvetica, Tahoma,
    Arial, PingFang SC-Light, Microsoft YaHei;
}
input {
  background-color: transparent;
  border: 0;
}
button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
}

button:active {
  opacity: 0.6;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-start {
  display: flex;
  justify-content: flex-start;
}
.justify-center {
  display: flex;
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}
.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}
.justify-around {
  display: flex;
  justify-content: space-around;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.align-start {
  display: flex;
  align-items: flex-start;
}
.align-center {
  display: flex;
  align-items: center;
}
.align-end {
  display: flex;
  align-items: flex-end;
}
.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 900px;
  height: 900px;
  overflow: hidden;
}

.box_1 {
  height: 900px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng3fee0b89c103ccebb797e96c80cdc946951fd2b6d77c85ecc93acd6744a4b735)
    100% no-repeat;
  background-size: 100% 100%;
  width: 900px;
  position: relative;
}

.image-wrapper_4 {
  width: 16px;
  height: 14px;
  margin: 38px 0 0 41px;
}

.thumbnail_1 {
  width: 16px;
  height: 14px;
}

.box_19 {
  position: relative;
  width: 728px;
  height: 812px;
  margin: 60px 0 24px 77px;
}

.group_20 {
  width: 182px;
  height: 565px;
  margin-top: 63px;
}

.box_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(117, 165, 243, 1);
  margin-left: 48px;
  width: 70px;
}

.block_1 {
  border-radius: 50%;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/1a766801018e42c4922882a0fbc05517_mergeImage.png);
  height: 64px;
  width: 64px;
  margin: 3px 0 0 3px;
}

.text-wrapper_1 {
  background-color: rgba(117, 165, 243, 1);
  border-radius: 4px;
  height: 24px;
  margin-top: 57px;
  width: 64px;
}

.text_1 {
  width: 48px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 8px;
}

.box_20 {
  position: relative;
  width: 20px;
  height: 105px;
  margin: 14px 0 0 77px;
}

.image-wrapper_2 {
  position: relative;
  width: 3px;
  height: 105px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdeedfa9803a2c37bb03a924dd2cefe4c33bfd68900246f9b97bb26e9d12ba3c6) -1px -1px
    no-repeat;
  background-size: 5px 106px;
}

.thumbnail_2 {
  position: absolute;
  left: -7px;
  top: 60px;
  width: 16px;
  height: 15px;
}

.thumbnail_3 {
  position: absolute;
  left: -6px;
  top: 30px;
  width: 17px;
  height: 15px;
}

.text_2 {
  width: 18px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
  margin: 4px 0 0 -1px;
}

.text_3 {
  position: absolute;
  left: 0;
  top: 77px;
  width: 18px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
}

.box_21 {
  width: 137px;
  height: 140px;
  margin: 4px 0 0 45px;
}

.section_1 {
  border-radius: 50%;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/81fd2ec168d04a678ba656c5d9d9cec0_mergeImage.png);
  width: 64px;
  height: 64px;
}

.section_2 {
  width: 79px;
  height: 85px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge5022fd14b10436c0561b84e2f06625dafb4cf841e5622cf799572866f880e26) -1px -1px
    no-repeat;
  background-size: 81px 86px;
  margin: 55px 0 0 -6px;
}

.text_4 {
  width: 29px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
  margin: -3px 0 0 8px;
}

.thumbnail_4 {
  width: 17px;
  height: 16px;
  margin: -3px 0 46px 21px;
}

.box_22 {
  width: 177px;
  height: 70px;
  margin-top: 8px;
}

.group_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(253, 152, 55, 1);
  width: 70px;
}

.text-wrapper_2 {
  background-color: rgba(253, 152, 55, 1);
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin: 3px 0 0 3px;
}

.text_5 {
  width: 28px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 22px 0 0 18px;
}

.image_1 {
  width: 108px;
  height: 11px;
  margin: 15px 0 0 -1px;
}

.box_7 {
  height: 80px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng821408dd5df3d9a41fb210f94242582fc76f876ca00836ba27a9c3313e0a3fc4) -1px
    0px no-repeat;
  background-size: 48px 81px;
  width: 46px;
  margin: -2px 0 0 47px;
}

.text-wrapper_3 {
  height: 40px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5fc4efa78452937f7b75bef8ca9291d8b8acb77484cbbb431d9a8e7b9fce0947)
    0px 0px no-repeat;
  background-size: 38px 41px;
  width: 37px;
  margin: 20px 0 0 6px;
}

.text_6 {
  width: 27px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
  margin: 5px 0 0 6px;
}

.box_8 {
  border-radius: 50%;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/1ce18c5c655c41b88c9a0b45e394d359_mergeImage.png);
  width: 64px;
  height: 64px;
  margin: -5px 0 0 83px;
}

.text-wrapper_4 {
  background-color: rgba(187, 127, 0, 1);
  border-radius: 4px;
  height: 24px;
  width: 40px;
  margin: -7px 0 0 95px;
}

.text_7 {
  width: 24px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 8px;
}

.group_21 {
  width: 146px;
  height: 519px;
  margin: 63px 0 0 16px;
}

.section_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(138, 40, 222, 1);
  margin-left: 10px;
  width: 70px;
}

.text-wrapper_5 {
  background-color: rgba(138, 40, 222, 1);
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin: 3px 0 0 3px;
}

.text_8 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 22px 0 0 4px;
}

.section_4 {
  height: 126px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngd429afe9f0f734ee08404428d51b34ff3058cb7fdf213eda7de498cb65bc6464)
    0px -1px no-repeat;
  background-size: 147px 128px;
  margin-top: 104px;
  width: 146px;
  position: relative;
}

.text-wrapper_6 {
  height: 39px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdb8c42987109b52759bbab72def64778416fba961a07aa5db130fc3a52be6a7a) -1px
    0px no-repeat;
  background-size: 42px 40px;
  width: 41px;
  margin: 58px 0 0 70px;
}

.text_9 {
  width: 29px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.85);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
  margin: 6px 0 0 5px;
}

.group_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(52, 40, 222, 1);
  width: 70px;
  position: absolute;
  left: -17px;
  top: -20px;
}

.text-wrapper_7 {
  background-color: rgba(52, 40, 222, 1);
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin: 3px 0 0 3px;
}

.text_10 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 22px 0 0 4px;
}

.section_5 {
  width: 60px;
  height: 149px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngd99d76e0e4bf3ba51c46f637102cffaa69c56b20c5a2105fda4771bea79959f5) -1px -1px
    no-repeat;
  background-size: 62px 151px;
  margin: 70px 0 0 23px;
}

.text_11 {
  width: 25px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
  margin: 27px 0 0 14px;
}

.section_6 {
  height: 39px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngbaf42237829eea1d78b568d512b5f1f36eab84364a8747fa53964c1cb08f990c)
    0px 0px no-repeat;
  background-size: 36px 40px;
  width: 36px;
  position: relative;
  margin: 15px 0 39px 19px;
}

.text_12 {
  width: 25px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
  margin: 5px 0 0 6px;
}

.thumbnail_5 {
  position: absolute;
  left: 0;
  top: -10px;
  width: 15px;
  height: 17px;
}

.thumbnail_6 {
  position: absolute;
  left: 20px;
  top: 33px;
  width: 16px;
  height: 17px;
}

.group_22 {
  position: relative;
  width: 90px;
  height: 272px;
  margin: 163px 0 0 233px;
}

.box_9 {
  height: 90px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb996d11d495d38080929c0026306e298fa37687c95e0571231326e26d43a8073) -1px -1px
    no-repeat;
  background-size: 92px 91px;
  margin-top: 6px;
  width: 90px;
}

.image-wrapper_5 {
  width: 16px;
  height: 17px;
  margin: 17px 0 0 56px;
}

.thumbnail_7 {
  width: 16px;
  height: 17px;
}

.section_21 {
  width: 43px;
  height: 31px;
  margin: 12px 0 13px 1px;
}

.text_13 {
  width: 29px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
  margin-top: 2px;
}

.thumbnail_8 {
  width: 17px;
  height: 16px;
  margin-left: -3px;
}

.box_11 {
  border-radius: 50%;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/fd817994a7ae4555a1971ea5367dc9b4_mergeImage.png);
  width: 64px;
  height: 64px;
  margin: 112px 0 0 21px;
}

.text_14 {
  position: absolute;
  left: 55px;
  top: 0;
  width: 29px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
}

.group_6 {
  border-radius: 50%;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/e017284323894c148ce3d8d8ecade239_mergeImage.png);
  width: 64px;
  height: 64px;
  margin: 116px 0 0 -3px;
}

.group_7 {
  position: absolute;
  left: 256px;
  top: 0;
  width: 361px;
  height: 812px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng82c942843ff8e629fdbe39b3012454cde870d69a8781c9ac85a6f2d5036efe61)
    100% no-repeat;
  background-size: 100% 100%;
}

.group_8 {
  height: 761px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngcb9de39b0d469985588db1bfb9b73b0759bf581da76e2cc40b5a93b0f4af7c87)
    100% no-repeat;
  background-size: 100% 100%;
  width: 375px;
  position: relative;
  margin: 26px 0 0 -7px;
}

.box_23 {
  width: 70px;
  height: 70px;
  margin: 51px 0 0 247px;
}

.group_9 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(40, 179, 222, 1);
  width: 70px;
}

.text-wrapper_8 {
  background-color: rgba(40, 179, 222, 1);
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin: 3px 0 0 3px;
}

.text_15 {
  width: 56px;
  height: 32px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 16px;
  margin: 18px 0 0 4px;
}

.box_24 {
  width: 142px;
  height: 29px;
  margin: 239px 0 0 -1px;
}

.group_10 {
  height: 29px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngc2a6fd2290c42ba48ca6c871502cb2ee6313576bd9d3e22749c1a166378fbedf) -1px -1px
    no-repeat;
  background-size: 143px 31px;
  width: 142px;
}

.text-wrapper_9 {
  height: 31px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng728af0538f80d1b9801a6a79271237bc8e0373ce8844057a0d84cb01eaf7b772) -1px
    0px no-repeat;
  background-size: 38px 32px;
  width: 36px;
  margin: 4px 0 0 29px;
}

.text_16 {
  width: 27px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.85);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 5px 0 0 4px;
}

.box_25 {
  position: relative;
  width: 98px;
  height: 77px;
  margin: 10px 0 0 256px;
}

.group_11 {
  height: 77px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga64d91dacef5eab8e2fec068cdf0f5a431c2e560438ab8da42bc2c28e35d8ee7) -1px -1px
    no-repeat;
  background-size: 87px 79px;
  margin-left: 12px;
  width: 86px;
}

.group_12 {
  height: 40px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngafddbf8df5e6b2a4a144c73a35cf847a4dfa0c353360f51a3577518c42210f8f) -1px -1px
    no-repeat;
  background-size: 42px 41px;
  width: 41px;
  position: relative;
  margin: 20px 0 0 20px;
}

.text_17 {
  width: 29px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
  margin: 5px 0 0 6px;
}

.thumbnail_9 {
  position: absolute;
  left: -6px;
  top: 30px;
  width: 16px;
  height: 16px;
}

.thumbnail_10 {
  position: absolute;
  left: 31px;
  top: -5px;
  width: 16px;
  height: 16px;
}

.text_18 {
  position: absolute;
  left: 0;
  top: 46px;
  width: 29px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
}

.box_26 {
  width: 253px;
  height: 87px;
  margin: -9px 0 0 25px;
}

.text_19 {
  width: 25px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
  margin-top: 58px;
}

.group_13 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(176, 174, 255, 1);
  width: 70px;
}

.group_14 {
  border-radius: 50%;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/74d880a0a1e74003925fc30e6d78a561_mergeImage.png);
  height: 64px;
  width: 64px;
  margin: 3px 0 0 3px;
}

.text-wrapper_10 {
  background-color: rgba(144, 142, 240, 1);
  border-radius: 4px;
  height: 24px;
  margin-top: 57px;
  width: 64px;
}

.text_20 {
  width: 48px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 8px;
}

.box_27 {
  width: 70px;
  height: 70px;
  margin: 1px 0 136px 8px;
}

.text-wrapper_11 {
  height: 70px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdecda5159329c2aa46e7a9db1f32fbef59779e8cb825dec6ebb6f7aa61fabf46) -1px -1px
    no-repeat;
  background-size: 72px 72px;
  width: 70px;
}

.text_21 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 25px 0 0 7px;
}

.box_28 {
  position: absolute;
  left: -1px;
  top: 124px;
  width: 342px;
  height: 246px;
}

.group_23 {
  position: relative;
  width: 116px;
  height: 54px;
  margin-top: 33px;
}

.box_12 {
  width: 116px;
  height: 40px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4a17a2d6ede1bd6710bbd7cd5f035538dbf436843dece4a67a2c7b701fefebcd) -1px -1px
    no-repeat;
  background-size: 118px 42px;
  margin-top: 14px;
}

.image-text_2 {
  width: 47px;
  height: 24px;
  margin: 13px 0 0 1px;
}

.text-group_1 {
  width: 28px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
}

.thumbnail_11 {
  width: 17px;
  height: 16px;
  margin-top: 7px;
}

.thumbnail_12 {
  width: 17px;
  height: 16px;
  margin: 3px 28px 0 23px;
}

.text_22 {
  position: absolute;
  left: 83px;
  top: 0;
  width: 28px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
}

.group_24 {
  width: 64px;
  height: 246px;
  margin-left: 1px;
}

.group_15 {
  border-radius: 50%;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/25177a4c32124544ac59a28d47ca65de_mergeImage.png);
  width: 64px;
  height: 64px;
}

.group_16 {
  position: relative;
  width: 22px;
  height: 184px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb78ff85c323bdde7881bd86a4e59f0ff343e3a3bc02da6a5b2f6df5ee832a6e1) -1px -1px
    no-repeat;
  background-size: 25px 185px;
  margin: -2px 0 0 9px;
}

.block_2 {
  position: absolute;
  left: 13px;
  top: 61px;
  width: 169px;
  height: 102px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng10cc8f985519f53468a18a536d42eeb062eefea8d5fe5a7c73feca454e8479b9) -1px -1px
    no-repeat;
  background-size: 170px 103px;
}

.text_23 {
  width: 29px;
  height: 27px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
  margin: 6px 0 0 104px;
}

.thumbnail_13 {
  width: 17px;
  height: 15px;
  margin: -3px 0 57px 94px;
}

.group_17 {
  background-color: rgba(52, 107, 254, 0.08);
  border-radius: 50%;
  height: 108px;
  width: 108px;
  position: absolute;
  left: -65px;
  top: 53px;
}

.group_18 {
  background-color: rgba(52, 107, 254, 0.25);
  border-radius: 50%;
  height: 86px;
  width: 86px;
  margin: 11px 0 0 11px;
}

.section_15 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(52, 107, 254, 1);
  width: 70px;
  position: relative;
  margin: 8px 0 0 8px;
}

.box_13 {
  border-radius: 50%;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/58e1c5d2c470494e99dbf701660eeaa6_mergeImage.png);
  width: 64px;
  height: 64px;
  margin: 3px 0 0 3px;
}

.text-wrapper_12 {
  background-color: rgba(52, 107, 254, 1);
  border-radius: 4px;
  height: 24px;
  width: 52px;
  position: absolute;
  left: 9px;
  top: 60px;
}

.text_24 {
  width: 36px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 8px;
}

.label_1 {
  position: absolute;
  left: -1px;
  top: 53px;
  width: 28px;
  height: 40px;
}

.paragraph_1 {
  width: 36px;
  height: 32px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.85);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 16px;
  margin: -127px 0 95px 6px;
}

.section_16 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(255, 176, 0, 1);
  width: 70px;
  margin: 85px 0 0 91px;
}

.text-wrapper_14 {
  background-color: rgba(255, 176, 0, 1);
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin: 3px 0 0 3px;
}

.text_26 {
  width: 42px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 22px 0 0 11px;
}

.text-wrapper_26 {
  position: absolute;
  left: 322px;
  top: 389px;
  width: 29px;
  height: 29px;
}

.text_27 {
  width: 29px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
}

.section_17 {
  height: 124px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng2117bd060805533a955496bf009e8955e391a08bc0ebf5a4b409cb0cab449c81) -1px
    0px no-repeat;
  background-size: 96px 125px;
  width: 94px;
  position: absolute;
  left: 123px;
  top: 353px;
}

.text-wrapper_16 {
  height: 41px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng83281e518e878f34f0f7b43129ea783ca2d7d720b45d851a311c0cfd139a9fa4)
    100% no-repeat;
  background-size: 100% 100%;
  width: 40px;
  margin: 56px 0 0 41px;
}

.text_28 {
  width: 28px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.85);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
  margin: 6px 0 0 6px;
}

.image_2 {
  position: absolute;
  left: 7px;
  top: 2px;
  width: 216px;
  height: 21px;
}

.text-wrapper_17 {
  height: 28px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga747dca31fa86b11cd6a616de89cac77ac4c1f0b6bf4176d415e75e2e94f2b53)
    100% no-repeat;
  background-size: 100% 100%;
  width: 35px;
  position: absolute;
  left: 242px;
  top: 352px;
}

.text_29 {
  width: 25px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.85);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 5px 0 0 5px;
}

.section_18 {
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(255, 104, 152, 1);
  width: 70px;
  position: absolute;
  left: 113px;
  top: 121px;
}

.text-wrapper_18 {
  background-color: rgba(255, 104, 152, 1);
  border-radius: 4px;
  height: 24px;
  width: 52px;
  margin: 60px 0 0 9px;
}

.text_30 {
  width: 36px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 8px;
}

.section_19 {
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(199, 115, 25, 1);
  width: 70px;
  position: absolute;
  left: 346px;
  top: 342px;
}

.text-wrapper_19 {
  background-color: rgba(199, 115, 25, 1);
  border-radius: 4px;
  height: 24px;
  width: 52px;
  margin: 60px 0 0 9px;
}

.text_31 {
  width: 36px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.85);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 8px;
}

.group_19 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(72, 14, 119, 1);
  width: 70px;
  position: absolute;
  left: 191px;
  top: -4px;
}

.text-wrapper_20 {
  background-color: rgba(72, 14, 119, 1);
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin: 3px 0 0 3px;
}

.text_32 {
  width: 56px;
  height: 32px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 16px;
  margin: 18px 0 0 4px;
}

.box_14 {
  height: 138px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng2ca7dd11156750c2a4e6e910d54e2f21588d0766cc34c8de366f385de2b175f3) -1px
    0px no-repeat;
  background-size: 91px 139px;
  width: 89px;
  position: absolute;
  left: 209px;
  top: 522px;
}

.text-wrapper_21 {
  height: 40px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga76592722437d02f5faccb96387b441e676e67758df9786c15505709265acb11)
    0px 0px no-repeat;
  background-size: 39px 41px;
  width: 38px;
  margin: 62px 0 0 16px;
}

.text_33 {
  width: 27px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 17px;
  margin: 6px 0 0 5px;
}

.section_20 {
  border-radius: 50%;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/cc644d3736d14f8084610cc5a9eea6a1_mergeImage.png);
  position: absolute;
  left: 48px;
  top: -28px;
  width: 64px;
  height: 64px;
}

.text-wrapper_22 {
  height: 27px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng98c4ba56e689876692a863f79c3044fb14a69c5c5798fcb79bb800674e44f812) -1px
    0px no-repeat;
  background-size: 35px 28px;
  width: 34px;
  position: absolute;
  left: 182px;
  top: 523px;
}

.text_34 {
  width: 25px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 3px;
}

.box_15 {
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(18, 174, 70, 1);
  width: 70px;
  position: absolute;
  left: 254px;
  top: 491px;
}

.text-wrapper_23 {
  background-color: rgba(18, 174, 70, 1);
  border-radius: 4px;
  height: 24px;
  width: 52px;
  margin: 60px 0 0 9px;
}

.text_35 {
  width: 36px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 8px;
}

.box_16 {
  border-radius: 50%;
  position: absolute;
  left: 157px;
  top: 656px;
  width: 70px;
  height: 70px;
  border: 1px solid rgba(187, 127, 0, 1);
}

.box_17 {
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(0, 48, 187, 1);
  width: 70px;
  position: absolute;
  left: 738px;
  top: 225px;
}

.text-wrapper_24 {
  background-color: rgba(0, 48, 187, 1);
  border-radius: 4px;
  height: 24px;
  width: 52px;
  margin: 60px 0 0 9px;
}

.text_36 {
  width: 36px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 8px;
}

.box_18 {
  border-radius: 50%;
  height: 70px;
  border: 1px solid rgba(90, 209, 230, 1);
  width: 70px;
  position: absolute;
  left: 119px;
  top: 365px;
}

.text-wrapper_25 {
  background-color: rgba(90, 209, 230, 1);
  border-radius: 4px;
  height: 24px;
  width: 52px;
  margin: 60px 0 0 10px;
}

.text_37 {
  width: 36px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 8px;
}
